<div class="container">
	<h1 class="multi-title" id="multi-name" data-toggle="modal" data-target="#multi-name-modal">{{name}}</h1>
	<div class="modal fade" id="multi-name-modal" tabindex="-1" role="dialog" aria-labelledby="multi-modal-area" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="multi-modal-area">Edit Multi-Playlist Name</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <input type="text" value={{name}} class="form-control" id="{{_id}}_input">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary saveMultiName" id="{{_id}}" data-dismiss="modal">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
	{{#data}}
		<div class="playlist-body" id="{{uri}}">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title" data-toggle="modal" data-target="#single-name-modal">{{name}}</h5>
					<div class="modal fade" id="single-name-modal" tabindex="-1" role="dialog" aria-labelledby="single-modal-area" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="single-modal-area">Edit Playlist Name</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <input type="text" value={{name}} class="form-control" id="{{_id}}_input">
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary saveChanges" data-dismiss="modal" id="{{_id}}">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>
					<button type="button" class="btn btn-outline-primary" id="play-curr">Play</button>
					<button type="button" class="btn btn-outline-danger" id="remove-playlist">Remove</button>
					<div class="row">
						<div class="play-handle col-md-1">
							<i class="fas fa-arrows-alt"></i>
						</div>
						<div class="col-md-11">
							<ol class="list-group song-list" id="{{uri}}">
								{{#tracks.items}}
								  <li class="dl-horizontal list-group-item" id="{{track.uri}}">
								  	<div class="row">
									  	<div class="col-md-1">
									  		<i class="fas fa-music song-handle"></i>
									  	</div>
									  	<div class="col-md-3">
									      <dt class="playlist_uri">Added At</dt><dd>{{added_at}}</a></dd>
									    </div>
									    <div class="col-md-3">
									    	<dt class="playlist_uri">Name</dt><dd>{{track.name}}</a></dd>
									    </div>
								    </div>
								  </li>
								{{/tracks.items}}
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/data}}
	<div class="utils">
		<button type="button" class="btn btn-primary" id="add-playlist">Add Playlist</button>
		<div class="btn-toolbar" role="toolbar" id="add-playlist-form" style="display: none">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-danger" id="remove-add-playlist">x</button>
			</div>
			Add Playlist: 
			<div class="input-group">
			  <select class="custom-select" id="add-playlist-select">
			    <option selected>Choose...</option>
			    <option value="1">One</option>
			    <option value="2">Two</option>
			    <option value="3">Three</option>
			  </select>
			  <div class="input-group-append">
			    <button class="btn btn-outline-primary" type="button" id="add-playlist-confirm">Add</button>
			  </div>
			</div>
		</div>
		<button type="button" class="btn btn-success" id="create-playlist">Create Playlist</button>
		<div class="btn-toolbar" role="toolbar" id="create-playlist-form" style="display: none">
			<div class="btn-group mr-2" role="group">
				<button type="button" class="btn btn-danger" id="remove-create-playlist">x</button>
			</div>
			Create Playlist: 
			<form class="input-group" onsubmit="return false">
			  <input id="create-playlist-input" type="text" required>
			  <div class="input-group-append">
			    <button class="btn btn-outline-primary" type="submit" id="create-playlist-confirm">Create</button>
			  </div>
			</form>
		</div>
	</div>
</div>

<script>
var fetch_playlists = false;
var curr_playlists = new Set();

{{#data}}
	curr_playlists.add("{{uri}}");
{{/data}}

$("#add-playlist").click(function() {
	$(this).hide();
	$("#create-playlist").hide();
	$("#create-playlist-form").hide();
	if(!fetch_playlists) {
		$.get("/user/fetch_all", function(data) {
			var playlist_select = $("#add-playlist-select");
			playlist_select.empty();
			playlist_select = playlist_select[0];
			data.forEach(function(playlist) {
				if (!curr_playlists.has(playlist.uri)){
					var c = document.createElement("option");
					c.text = playlist.name;
					c.setAttribute("value", playlist.uri);
					playlist_select.options.add(c);
				}
			});
			fetch_playlists = true;
		});
	}
	$("#add-playlist-form").show();
});

$("#remove-add-playlist").click(function() {
	$("#add-playlist-form").hide();
	$("#add-playlist").show();
	$("#create-playlist").show();
	$("#create-playlist-form").hide();
});

$("#add-playlist-confirm").click(function() {
	if(fetch_playlists) {
		var val = $("#add-playlist-select").val();
		console.log(val);
		$.ajax({
			url: "/multi/{{_id}}/add",
			type: "post",
			data: JSON.stringify({
				"uri": val
			}),
	        success: function(data, status, other) {
	        	window.location.reload();
	        }
		});
	}
	$("#add-playlist-form").hide();
	$("#create-playlist-form").hide();
	$("#create-playlist").show();
	$("#add-playlist").show();
});

$("#create-playlist").click(function() {
	$(this).hide();
	$("#add-playlist").hide();
	$("#add-playlist-form").hide();
	$("#create-playlist-form").show();
});

$("#remove-create-playlist").click(function() {
	$("#add-playlist-form").hide();
	$("#add-playlist").show();
	$("#create-playlist").show();
	$("#create-playlist-form").hide();
});

$("#create-playlist-confirm").click(function() {
	var val = $("#create-playlist-input").val();
	console.log(val);
	$.ajax({
		url: "/multi/{{_id}}/create",
		type: "post",
		data: JSON.stringify({
			"name": val
		}),
        success: function(data, status, other) {
        	window.location.reload();
        }
	});
	$("#add-playlist-form").hide();
	$("#create-playlist-form").hide();
	$("#create-playlist").show();
	$("#add-playlist").show();
});

$(".song-list").each(function() {
	Sortable.create(this,
	{
		group: "songs",
		onSort: function(evt) {
			var old = evt.from;
			var curr = evt.to;
			var old_p = evt.oldIndex;
			var curr_p = evt.newIndex;

			var item = $(curr)[0].getElementsByTagName("li")[curr_p]
			console.log(item.id);

			if (old == curr) {
				$.ajax({
					url: "/playlists/" + $(curr).attr('id') + "/reorder",
					type: "post",
					data: JSON.stringify({
						"song_id": item.id,
						"old_position": old_p,
						"new_position": curr_p
					})
				});
			} else {
				$.ajax({
					url: "/playlists/" + $(old).attr('id') + "/remove",
					type: "post",
					data: JSON.stringify({
						"song_id": item.id,
						"position": old_p,
					})
				});

				$.ajax({
					url: "/playlists/" + $(curr).attr('id') + "/add",
					type: "post",
					data: JSON.stringify({
						"song_id": item.id,
						"position": curr_p
					})
				});
			}
		}
	})
});

$(".saveMultiName").click(function() {
	console.log($("#"+$(this).attr('id')+"_input").attr('value'));
	$.ajax({
		url: "/multi/" + $(this).attr('id') + "/editName",
		type: "post",
		data: JSON.stringify({
			"name": $("#"+$(this).attr('id')+"_input").attr('value')
		}),
		success: function(data, status, other) {
        	window.location.reload();
        }
	});
});

function playSongs(event) {
	item = event.target
	var track_uris = []
	var curr_tracks = item.parentElement.getElementsByClassName("song-list");
	$(curr_tracks).children().each(function() {
	    console.log($(this).attr('id'));
	    track_uris.push($(this).attr('id'));
	});
  	$.ajax({
        url: '/user/play',
        type: 'post',
        data: JSON.stringify({
        	'uris': track_uris
        }),
        success: function(data, status, other) {
        	window.location.reload();
        }
    });
}

function removePlaylist(event){ 
	var val = $(event.target).closest(".playlist-body").attr("id");
	console.log(val);
	$.ajax({
		url: "/multi/{{_id}}/remove",
		type: "post",
		data: JSON.stringify({
			"uri": val
		}),
        success: function(data, status, other) {
        	window.location.reload();
        }
	});
}

function updateName(event) {
	$.ajax({
		url: "/playlists/" + $(event.target).attr('id') + "/editName",
		type: "post",
		data: JSON.stringify({
			"name": $("#"+$(event.target).attr('id')+"_input").attr('value')
		}),
		success: function(data, status, other) {
        	window.location.reload();
        }
	});
}

$(document).on('click', '#remove-playlist', removePlaylist);

$(document).on('click', '#play-curr', playSongs);

$(document).on('click', '.saveChanges', updateName);


</script>